PresentationLayer/Connected Services/WcfServiceReference/PresentationLayer.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PresentationLayer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PresentationLayer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompanyModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyModel" nillable="true" type="tns:CompanyModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyModel" nillable="true" type="tns:ArrayOfCompanyModel" />
  <xs:complexType name="CompanyModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyInternetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyNipNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyPhysicalAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyModel" nillable="true" type="tns:CompanyModel" />
</xs:schema>