Client/Connected Services/WcfServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompanyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompanyService_GetCompaniesJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompaniesJson" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompaniesJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompaniesJsonResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_ValidateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_ValidateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_SaveCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_SaveCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCompanyResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompanyService">
    <wsdl:operation name="GetCompaniesJson">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetCompaniesJson" message="tns:ICompanyService_GetCompaniesJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetCompaniesJsonResponse" message="tns:ICompanyService_GetCompaniesJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/ValidateCompany" message="tns:ICompanyService_ValidateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/ValidateCompanyResponse" message="tns:ICompanyService_ValidateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/SaveCompany" message="tns:ICompanyService_SaveCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/SaveCompanyResponse" message="tns:ICompanyService_SaveCompany_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompanyService" type="tns:ICompanyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompaniesJson">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/GetCompaniesJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCompany">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/ValidateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompany">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/SaveCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyService">
    <wsdl:port name="BasicHttpBinding_ICompanyService" binding="tns:BasicHttpBinding_ICompanyService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServicesLayer/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>